<option value="10" {% if per_page  ==  "10" %}selected{% endif %}>10 rows</option>
<option value="20" {% if per_page  ==  "20" %}selected{% endif %}>20 rows</option>
<option value="30" {% if per_page  ==  "30" %}selected{% endif %}>30 rows</option>
<option value="50" {% if per_page  ==  "50" %}selected{% endif %}>50 rows</option>
<option value="100" {% if per_page  ==  "100" %}selected{% endif %}>100 rows</option>
<option value="150" {% if per_page  ==  "150" %}selected{% endif %}>150 rows</option>