server {
    listen 80;
    server_name ciscocanvas.chuka.ac.ke;

    location = /favicon.ico { access_log off; log_not_found off; }
    location /static/ {
        alias /home/ubuntu/lms/lms/staticfiles/;
    }

    location /media/ {
        alias /home/ubuntu/lms/lms/media/;
    }

    location / {
        include proxy_params;
        proxy_pass http://unix:/home/ubuntu/lms/lms.sock;
    }
}
